### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [463]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [465]:
total_players = purchase_data["Purchase ID"].count()
total_players

780

In [466]:
purchase_data_df = pd.DataFrame(purchase_data)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [468]:
mean_price = purchase_data_df["Price"].mean()
sum_price = purchase_data_df["Price"].sum()
unique_items = purchase_data_df["Item ID"].nunique()
ID_count = purchase_data_df["Purchase ID"].count()
summary_calcs = [mean_price,sum_price,unique_items,ID_count]
summary_calcs_df = pd.DataFrame({"Average Price":mean_price,"Total Revenue":sum_price,"Number of Unique Items":unique_items,"Number of Purchases":ID_count},index=[0])
summary_calcs_df.head()

   Average Price  Total Revenue  Number of Unique Items  Number of Purchases
0       3.050987        2379.77                     183                  780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [473]:
Gendergroup= purchase_data_df.groupby(["Gender"])
Gendergroup_df2 = pd.DataFrame(Gendergroup.count())

In [471]:
Malepct = Gendergroup_df2.loc["Male", "SN"] / Gendergroup_df2["SN"].sum() * 100
Fmlpct = Gendergroup_df2.loc["Female","SN"] / Gendergroup_df2["SN"].sum() * 100
Othpct = Gendergroup_df2.loc["Other / Non-Disclosed","SN"] / Gendergroup_df2["SN"].sum() *100
Maletot = Gendergroup_df2.loc["Male", "SN"]
Fmltot = Gendergroup_df2.loc["Female", "SN"]
Othtot = Gendergroup_df2.loc["Other / Non-Disclosed", "SN"]

In [474]:
Summary_Gendergroup_df = pd.DataFrame({"Percentage of Players":[Malepct,Fmlpct,Othpct],"Total Players":[Maletot,Fmltot,Othtot]},index = ["Male","Female","Other / Non-Disclosed"])
Summary_Gendergroup_df["Percentage of Players"] = Summary_Gendergroup_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
Summary_Gendergroup_df.head()

                      Percentage of Players  Total Players
Male                                 83.59%            652
Female                               14.49%            113
Other / Non-Disclosed                 1.92%             15

In [346]:
Revenue_Summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Male,652,$3.02,"$1,967.64"
Female,113,$3.20,$361.94
Other / Non-Disclosed,15,$3.35,$50.19

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [475]:
Gendergroup_sum = Gendergroup["Price"].sum()
Gendergroup_Sum_df = pd.DataFrame(Gendergroup_sum)
Mal_Avg_Rev = Gendergroup_sum.loc["Male"] / Maletot
Fml_Avg_Rev = Gendergroup_sum.loc["Female"] /  Fmltot
Oth_Avg_Rev = Gendergroup_sum.loc["Other / Non-Disclosed"] / Othtot
Mal_Tot_Rev = Gendergroup_sum.loc["Male"]
Fml_Tot_Rev = Gendergroup_sum.loc["Female"]
Oth_Tot_Rev = Gendergroup_sum.loc["Other / Non-Disclosed"]
Revenue_Summary_df = pd.DataFrame({"Purchase Count":[Maletot,Fmltot,Othtot],"Average Purchase Price":[Mal_Avg_Rev,Fml_Avg_Rev,Oth_Avg_Rev],"Total Purchase Value":[Mal_Tot_Rev,Fml_Tot_Rev,Oth_Tot_Rev]},index=["Male","Female","Other / Non-Disclosed"])
Revenue_Summary_df["Average Purchase Price"] = Revenue_Summary_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
Revenue_Summary_df["Total Purchase Value"] = Revenue_Summary_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
Revenue_Summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Male,652,$3.02,"$1,967.64"
Female,113,$3.20,$361.94
Other / Non-Disclosed,15,$3.35,$50.19

In [384]:
# Establish bins for ages
ages = purchase_data_df["Age"]
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [477]:
ages_cut = pd.cut(ages,age_bins,labels=group_names)
ages_cut.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [478]:
purchase_data_df["Age Bins"] = ages_cut.values
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [479]:
ages_sum1_df = purchase_data_df.groupby(["Age Bins"])
ages_sum1_df2 = ages_sum1_df.count()
ages_sum1_df2

          Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Bins
<10                23   23   23      23       23         23     23
10-14              28   28   28      28       28         28     28
15-19             136  136  136     136      136        136    136
20-24             365  365  365     365      365        365    365
25-29             101  101  101     101      101        101    101
30-34              73   73   73      73       73         73     73
35-39              41   41   41      41       41         41     41
40+                13   13   13      13       13         13     13

In [480]:
# Ran out of gas trying to select the column values and divide by total_players
# ages_sum1_df2.loc["SN":] / total_players

In [481]:
F"""
age_bins = [0,9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_bins = map(int,age_bins)
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age"] = pd.cut(purchase_data["Age"],age_bins,labels =group_names)"""

'\nage_bins = [0,9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]\nage_bins = map(int,age_bins)\ngroup_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]\npurchase_data_df["Age"] = pd.cut(purchase_data["Age"],age_bins,labels =group_names)'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [183]:
ID_count_df = pd.DataFrame(ID_count,columns=["Name","Purchases"])
ID_count_df["Test"] = Series(Id_count_df.index=df1.index)

SyntaxError: keyword can't be an expression (<ipython-input-183-e790119bb259>, line 2)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [482]:
mostpop = purchase_data_df.groupby(["Item Name"])
mostpop_count = mostpop.count().sort_values(by=["Age"],ascending=False)
mostpop_count_df = pd.DataFrame(mostpop_count["SN"])

In [483]:
mostpop_sum_df = pd.DataFrame(mostpop.sum().sort_values(by="Price",ascending = False))

In [484]:
Mostpop_Summary_df = mostpop_sum_df.drop(columns =["Purchase ID","Age"])
Mostpop_Summary_df["# Times Purchased"] = purchase_data_df["Item Name"].value_counts()
Mostpop_Summary_df2 = Mostpop_Summary_df.rename(columns={"Price": "Total Revenue"})
Mostpop_Summary_df2.head()

,Item ID,Total Revenue,# Times Purchased
Item Name,,,
Final Critic,1241,59.99,13
"Oathbreaker, Last Hope of the Breaking Storm",2136,50.76,12
Nirvana,738,44.10,9
Fiery Glass Crusader,1305,41.22,9
Singed Scalpel,824,34.80,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame